<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.business.mapper.BidMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.p2p.business.domain.Bid" >
    <id column="id" property="id"  />
	<result column="actualRate" property="actualRate"  />
	<result column="bidRequestId" property="bidRequestId"  />
	<result column="availableAmount" property="availableAmount"  />
	<result column="bidRequestState" property="bidRequestState"  />
	<result column="bidRequestTitle" property="bidRequestTitle"  />
	<result column="bidTime" property="bidTime"  />
      <association property="bidUser" javaType="com.xmg.p2p.base.domain.LoginInfo" columnPrefix="bu_">
          <id column="id" property="id"/>
          <result column="username" property="username"/>
      </association>
  </resultMap>
  <insert id="insert" parameterType="com.xmg.p2p.business.domain.Bid" useGeneratedKeys="true" keyProperty="id" >
    insert into bid 
    (actualRate,bidRequestId,availableAmount,bidRequestState,bidUser_id,bidRequestTitle,bidTime)
    values 
    (#{actualRate},#{bidRequestId},#{availableAmount},#{bidRequestState},#{bidUser.id},#{bidRequestTitle},#{bidTime})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xmg.p2p.business.domain.Bid" >
    update bid  set
	    actualRate=#{actualRate},
	    bidRequestId=#{bidRequestId},
	    availableAmount=#{availableAmount},
	    bidRequestState=#{bidRequestState},
	    bidUser_id=#{bidUser.id},
	    bidRequestTitle=#{bidRequestTitle},
	    bidTime=#{bidTime}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
     select bid.id,bid.actualRate,bid.bidRequestId,bid.availableAmount,bid.bidRequestState,bid.bidUser_id,
      bid.bidRequestTitle,bid.bidTime,
      bu.id bu_id,bu.username bu_username
      from bid bid left join logininfo bu
      on bid.bidUser_id=bu.id
      where bid.id = #{id}
  </select>
  <sql id="conditionSql">
  	<where>
  	</where>
  </sql>
  <select id="queryPageCount" resultType="long">
  	select count(0) from bid bid
  	<include refid="conditionSql"/>
  </select>
  <select id="queryPageData" resultMap="BaseResultMap">
      select bid.id,bid.actualRate,bid.bidRequestId,bid.availableAmount,bid.bidRequestState,bid.bidUser_id,
      bid.bidRequestTitle,bid.bidTime,
      bu.id bu_id,bu.username bu_username
      from bid bid left join logininfo bu
      on bid.bidUser_id=bu.id
  	<include refid="conditionSql"/>
  	limit #{start},#{pageSize}
  </select>
    <select id="selectByBidRequestId" resultMap="BaseResultMap">
        select bid.id,bid.actualRate,bid.bidRequestId,bid.availableAmount,bid.bidRequestState,bid.bidUser_id,
        bid.bidRequestTitle,bid.bidTime,
        bu.id bu_id,bu.username bu_username
        from bid bid left join logininfo bu
        on bid.bidUser_id=bu.id
        where bid.bidRequestId=#{bidRequestId}
    </select>
    <update id="updateState">
        update bid  set
        bidRequestState=#{state}
        where bidRequestId=#{bidRequestId}
    </update>
</mapper>