<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.business.mapper.PaymentScheduleDetailMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.p2p.business.domain.PaymentScheduleDetail" >
    <id column="id" property="id"  />
	<result column="bidAmount" property="bidAmount"  />
	<result column="monthIndex" property="monthIndex"  />
	<result column="investorId" property="investorId"  />
	<result column="principal" property="principal"  />
	<result column="interest" property="interest"  />
	<result column="totalAmount" property="totalAmount"  />
	<result column="bidId" property="bidId"  />
	<result column="bidRequestId" property="bidRequestId"  />
	<result column="paymentScheduleId" property="paymentScheduleId"  />
	<result column="payDate" property="payDate"  />
	<result column="deadLine" property="deadLine"  />
	<result column="returnType" property="returnType"  />
	  <association property="borrowUser" javaType="com.xmg.p2p.base.domain.LoginInfo" columnPrefix="pu_" >
		  <id column="id" property="id"/>
		  <result column="username" property="username"/>
	  </association>
  </resultMap>
  <insert id="insert" parameterType="com.xmg.p2p.business.domain.PaymentScheduleDetail" useGeneratedKeys="true" keyProperty="id" >
    insert into paymentScheduleDetail 
    (bidAmount,monthIndex,investorId,principal,interest,totalAmount,bidId,bidRequestId,paymentScheduleId,payDate,borrowUser_id,deadLine,returnType)
    values 
    (#{bidAmount},#{monthIndex},#{investorId},#{principal},#{interest},#{totalAmount},#{bidId},#{bidRequestId},#{paymentScheduleId},#{payDate},#{borrowUser.id},#{deadLine},#{returnType})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xmg.p2p.business.domain.PaymentScheduleDetail" >
    update paymentScheduleDetail
    set
	    bidAmount=#{bidAmount},
	    monthIndex=#{monthIndex},
	    investorId=#{investorId},
	    principal=#{principal},
	    interest=#{interest},
	    totalAmount=#{totalAmount},
	    bidId=#{bidId},
	    bidRequestId=#{bidRequestId},
	    paymentScheduleId=#{paymentScheduleId},
	    payDate=#{payDate},
	    borrowUser_id=#{borrowUser.id},
	    deadLine=#{deadLine},
	    returnType=#{returnType}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
	  select
	  psd.id, psd.bidAmount, psd.monthIndex, psd.investorId, psd.principal, psd.interest, psd.totalAmount, psd.bidId, psd.bidRequestId,
	  psd.paymentScheduleId,psd.payDate, psd.borrowUser_id, psd.deadLine, psd.returnType,
	  pu.id pu_id,pu.username pu_username
	  from paymentScheduleDetail psd
	  LEFT JOIN logininfo pu on psd.borrowUser_id=pu.id
	  where psd.id = #{id}
  </select>
  <sql id="conditionSql">
  	<where>
  	</where>
  </sql>
  <select id="queryPageCount" resultType="long">
  	select count(0) from paymentScheduleDetail psd
  	<include refid="conditionSql"/>
  </select>
  <select id="queryPageData" resultMap="BaseResultMap">
  	select
	  psd.id, psd.bidAmount, psd.monthIndex, psd.investorId, psd.principal, psd.interest, psd.totalAmount, psd.bidId, psd.bidRequestId,
	  psd.paymentScheduleId,psd.payDate, psd.borrowUser_id, psd.deadLine, psd.returnType,
	  pu.id pu_id,pu.username pu_username
	  from paymentScheduleDetail psd
	  LEFT JOIN logininfo pu on psd.borrowUser_id=pu.id
  	<include refid="conditionSql"/>
  	limit #{start},#{pageSize}
  </select>
	<select id="selectByPaymentScheldulId" resultMap="BaseResultMap">
		select
		psd.id, psd.bidAmount, psd.monthIndex, psd.investorId, psd.principal, psd.interest, psd.totalAmount, psd.bidId, psd.bidRequestId,
		psd.paymentScheduleId,psd.payDate, psd.borrowUser_id, psd.deadLine, psd.returnType,
		pu.id pu_id,pu.username pu_username
		from paymentScheduleDetail psd
		LEFT JOIN logininfo pu on psd.borrowUser_id=pu.id
		where  psd.paymentScheduleId=#{paymentScheduleId}
	</select>
</mapper>