<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.business.mapper.PlatformBankInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.p2p.business.domain.PlatformBankInfo" >
    <id column="id" property="id"  />
	<result column="bankForkName" property="bankForkName"  />
	<result column="bankName" property="bankName"  />
	<result column="accountName" property="accountName"  />
	<result column="accountNumber" property="accountNumber"  />
  </resultMap>
  <insert id="insert" parameterType="com.xmg.p2p.business.domain.PlatformBankInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into platformBankInfo 
    (bankForkName,bankName,accountName,accountNumber)
    values 
    (#{bankForkName},#{bankName},#{accountName},#{accountNumber})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xmg.p2p.business.domain.PlatformBankInfo" >
    update platformBankInfo
    set
	    bankForkName=#{bankForkName},
	    bankName=#{bankName},
	    accountName=#{accountName},
	    accountNumber=#{accountNumber}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select * from platformBankInfo where id = #{id}
  </select>
  <sql id="conditionSql">
  	<where>
  	</where>
  </sql>
  <select id="queryPageCount" resultType="long">
  	select count(0) from platformBankInfo
  	<include refid="conditionSql"/>
  </select>
  <select id="queryPageData" resultMap="BaseResultMap">
  	select * from platformBankInfo
  	<include refid="conditionSql"/>
  	limit #{start},#{pageSize}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from platformBankInfo ;
    </select>
</mapper>